#main{
    max-width: 1280px;
    max-height: 100%;
    margin: 30px auto;
    padding: 15px;
    background-color: #dddddd;
    border-radius: 5px;
}

#title{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0;
}

#main p{
    text-align: center;
}

#img-div{
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    background-color: #ffffff;
    max-width: 80%;
}

#image{
    margin: auto;
    display: block;
    max-width: 60%;
    padding-bottom: 10px;
}

#tribute-info{
    max-width: 600px;
    margin: 0 auto;
}

#tribute-info h3{
    text-align: center;
}

#tribute-info ul li{
    margin-bottom: 10px;
    line-height: 30px;
}

h4{
    text-align: center;
}

footer{
    text-align: center;
    font-size: 25px;
}

@media (max-width: 767px) {
    #main{
        margin: 0;
    }
    #title{
        line-height: 1.2;
    }
    
    #image {
        max-width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;
    }

    #img-caption{
        font-size: 1.4rem;
    }
    
    }